<div class="layui-form" lay-filter="role-authority-table-addform" style="padding: 20px 0 0 0;">
  <div class="layui-form-item">
    <label class="layui-form-label"><span style="color:#FF5722;font-family: SimSun;font-size: 14px;margin-right: 6px;">*</span>工号</label>
    <div class="layui-input-inline">
      <script type="text/html" template>
        <input id="userid" type="text" name="userid"  lay-verify="required" placeholder="请输入工号" autocomplete="off" class="layui-input">
      </script>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">姓名</label>
    <div class="layui-input-inline">
      <script type="text/html" template>
        <input type="text" name="username"   placeholder="请输入姓名" autocomplete="off" class="layui-input">
      </script>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">密码</label>
    <div class="layui-input-inline">
      <script type="text/html" template>
        <input type="text" name="password"   placeholder="设置密码自动注册" autocomplete="off" class="layui-input">
      </script>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">手机号</label>
    <div class="layui-input-inline">
      <script type="text/html" template>
        <input type="text" name="telphone"   placeholder="请输入你的手机号" autocomplete="off" class="layui-input">
      </script>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">事业部</label>
    <div class="layui-input-inline">
      <script type="text/html" template>
        <input type="text" name="cj10txt"   placeholder="请输入事业部" autocomplete="off" class="layui-input">
      </script>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">工厂</label>
    <div class="layui-input-inline">
      <script type="text/html" template>
        <input type="text" name="cj20txt"   placeholder="请输入工厂" autocomplete="off" class="layui-input">
      </script>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">部门</label>
    <div class="layui-input-inline">
      <script type="text/html" template>
        <input type="text" name="cj30txt"  placeholder="请输入部门" autocomplete="off" class="layui-input">
      </script>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">科室</label>
    <div class="layui-input-inline">
      <script type="text/html" template>
        <input type="text" name="cj40txt"  placeholder="请输入科室" autocomplete="off" class="layui-input">
      </script>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">班组</label>
    <div class="layui-input-inline">
      <script type="text/html" template>
        <input type="text" name="cj50txt"  placeholder="请输入班组" autocomplete="off" class="layui-input">
      </script>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">拉</label>
    <div class="layui-input-inline">
      <script type="text/html" template>
        <input type="text" name="cj60txt"  placeholder="请输入拉" autocomplete="off" class="layui-input">
      </script>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">岗位</label>
    <div class="layui-input-inline">
      <script type="text/html" template>
        <input type="text" name="gw"   placeholder="请输入岗位" autocomplete="off" class="layui-input">
      </script>
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">工作地点</label>
    <div class="layui-input-inline">
      <script type="text/html" template>
        <input type="text" name="gzdd"  placeholder="请输入工作地点" autocomplete="off" class="layui-input">
      </script>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label"></label>
    <div class="layui-input-inline">
      <input type="button" lay-submit lay-filter="r-a-popform-submit" value="确认" class="layui-btn">
    </div>
  </div>

  <input type="text" name="cj10" style="display:none;">
  <input type="text" name="cj20" style="display:none;">
  <input type="text" name="cj30" style="display:none;">
  <input type="text" name="cj40" style="display:none;">
  <input type="text" name="cj50" style="display:none;">
  <input type="text" name="cj60" style="display:none;">


 
</div>
<script>

// http://10.8.11.35/appadmin/index.php/welcome/get_empinfo/3397812
</script>