<form class="layui-form" action="" lay-filter="app-control-addform">
  <div class="layui-form-item">
    <label class="layui-form-label" style="width: 70px;"><span style="color:#FF5722;font-family: SimSun;font-size: 14px;margin-right: 6px;">*</span>应用标题</label>
    <div class="layui-input-block" style="margin-left: 100px;">
      <input type="text" name="appTitle" required  lay-verify="required" placeholder="请输入应用标题" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label" style="width: 70px;"><span style="color:#FF5722;font-family: SimSun;font-size: 14px;margin-right: 6px;">*</span>应用名称</label>
    <div class="layui-input-block" style="margin-left: 100px;">
      <input type="text" name="appName" required  lay-verify="required" placeholder="请输入应用名称" autocomplete="off" class="layui-input">
    </div>
  </div>
  
  <div class="layui-form-item">
    <label class="layui-form-label" style="width: 48px;"></label>
    <div class="layui-input-inline">
      <input type="button" lay-submit lay-filter="a-c-addForm-submit" value="确认" class="layui-btn">
    </div>
  </div>
</form>
